@model AdminDyanamoEnterprises.DTOs.Master.FabricTypePageViewModel

@{
    ViewData["Title"] = "MasterFabricType";
}

<h1>MasterFabricType</h1>

<h4>FabricTypePageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MasterFabricType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
