@model AdminDyanamoEnterprises.DTOs.Master.SubCategoryType

@{
    ViewData["Title"] = "MasterCategoryType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="page-title">Sub-Category Type</h4>
<div>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#">Mifty</a></li>
        <li class="breadcrumb-item"><a href="#">Apps</a></li>
        <li class="breadcrumb-item active">Category Type</li>
    </ol>
</div>